body {
    margin: 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    /* https://uigradients.com */
    background: #EFEFBB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D4D3DD, #EFEFBB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

main {

    max-width: 550px;
    height: 500px;
    margin: 50px auto;
    /* background-color: #1F2937; */
    padding: 16px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px; 
    /* https://uigradients.com */
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

h1 {

    color: #4ADF86;
}

main>p {
    color: gold;
    font-size: large;
}

button {
    background-color: #10B981;
    color: aliceblue;
    border: none;
    padding: 9px 16px;
    border-radius: 5px;
    margin: 20px 10px;
    font-size: large;
    align-self: center;

}


button:hover{
    opacity: 80%;
}
#passwords-group {
    border-top: 1px solid grey;
    margin: 20px 5px;
    padding: 20px 5px;
    display: flex;
    justify-content: space-around;
}

input {

    color: #55F991;
    padding: 8px 10px;
    border-radius: 5px;
    margin: 5px;
    background-color: #1F2937;
    font-size: large;
    text-align: center;

}